DB_NAME=__DB_NAME__
DB_USER=__DB_USER__
DB_PASSWORD=__DB_PASSWORD__

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://root:basil@database_host:database_port/kingston'

# Optional database variables
DB_HOST='__DB_HOST__'
DB_PREFIX='wp_'

WP_ENV='__WP_ENV__'
WP_HOME=__WP_HOME__
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='__AUTH_KEY__'
SECURE_AUTH_KEY='__SECURE_AUTH_KEY__'
LOGGED_IN_KEY='__LOGGED_IN_KEY__'
NONCE_KEY='__NONCE_KEY__'
AUTH_SALT='__AUTH_SALT__'
SECURE_AUTH_SALT='__SECURE_AUTH_SALT__'
LOGGED_IN_SALT='__LOGGED_IN_SALT__'
NONCE_SALT='__NONCE_SALT__'

# Plugins
PLUGIN_ACF_KEY='__PLUGIN_ACF_KEY__'
GOOGLE_MAPS_KEY='__GOOGLE_MAPS_KEY__'
