# Application
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Plugins
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/instagram-feed-pro/
!web/app/plugins/custom-css-js-pro/
!web/app/mu-plugins/kinsta-mu-plugins/

# Themes
web/app/themes/ivystreet.old
web/app/cache

# WordPress
web/wp

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# IDEs
.vscode

.DS_Store
web/app/themes/ivystreet/dist/

# Local Development
.lemp
docker-compose*
